apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-deploy
  labels:
   app: config-server-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server-app
  template:
    metadata:
      labels:
        app: config-server-app
    spec:
      containers:
      - name: config-server-container
        image: lugar2020/config-server
        ports:
        - containerPort: 8090
        env:
          - name: GIT_URL_CONFIG
            value: "https://github.com/kemanedonfack/ecommerce-configurations.git"

---

apiVersion: v1
kind: Service
metadata: 
  name: config
  labels:
    name: config-server-service
spec:
  type: NodePort
  ports:
    - port: 8090
      targetPort: 8090
      nodePort: 30090
  selector:
    app: config-server-app

