option_settings:
  aws:autoscaling:asg:
    Availability Zones: Any 2
    Cooldown: 700
    MinSize: 2
    MaxSize: 4
    EnableCapacityRebalancing: true
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    LowerThreshold: 20
    UpperThreshold: 90
